{#user_edit.html#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志分析</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
    <link rel="stylesheet" href="../../static/common/css/jquery.pagination.css">
    <script type="text/javascript" src="../../static/common/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../static/common/js/jquery.pagination.min.js"></script>
</head>

<body>
<div class="breadcrub">
    用户管理 > 用户编辑
    <form class="news_filter_form">
        <input type="text" placeholder="用户名称关键词" name="keywords" class="input_txt">
        <input type="submit" value="搜 索" class="input_sub">
        <input type="button" value="添 加" class="input_sub" onclick="user_add()">
    </form>
</div>

<div class="pannel">
    <table class="common_table">
        <tr>
            <th width="20%">用户名称</th>
            <th width="10%">是否管理</th>
            <th width="30%">手机号码</th>
            <th width="30%">邮箱地址</th>
            <th width="10%">管理操作</th>
        </tr>

        {% for user in data.user_list %}
            <tr>
                <td>{{ user.user_name }}</td>
                <td>{% if user.is_admin %} 是 {% else %} 否 {% endif %}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td class="btnbox">
                    <a href="{{ url_for('admin.user_modify') }}?user_id={{ user.user_id }}" class="review">修 改</a>
                    <a href="{{ url_for('admin.user_delete') }}?user_id={{ user.user_id }}" class="delete">删 除</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="box">
    <div id="pagination" class="page"></div>
</div>

<script>
    $(function () {
        $("#pagination").pagination({
            currentPage: {{ data.current_page }},
            totalPage: {{ data.total_page }},
            callback: function (current) {
                window.location = '/user_edit?page=' + current
            }
        });
    });

    // 点击添加，跳转站点添加页面
    function user_add() {
        window.location = '/user_add'
    }
</script>

</body>
</html>